<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="http://bos.bce-sandbox.baidu.com"/>
    <add key="ak" value="29c333c3f7854dddb3e92076c389f5ab"/>
    <add key="sk" value="52d3d1dd86c14dc5aff3837d7b72a27a"/>
  </appSettings>
</configuration>