<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="endpoint" value="http://10.107.37.37:8080" />
    <add key="ak" value="3a22b0a02cdc4612b3e022111ac68022" />
    <add key="sk" value="7733bbf64365487fae4ebcd4e1b39f43" />
    <add key="userid" value="141242b2644e46f78d66190ed569a901" />
  </appSettings>
</configuration>